@import "../mainStyles/mainColors";
.paragraphs
{
    color: $secondary-text-color;
    margin-top: -5% !important;
    z-index: 5;
    background-color: #F8F9FA;
}
.paragraphs div div div
{
    width: 75%;
}
.paragraphs h3
{
    text-transform: capitalize;
    font-weight: bold;
}
.paragraphs p
{
    line-height: 1.9rem;
}
.paragraphs i
{
    color: $main-color;
    font-size: 3rem;
    padding-bottom: 15px;
}