@import "../mainStyles/mainColors";
ul li 
{
    display: inline-block;
    padding-right: 8%;
} 
ul li a,
ul li span
{
    font-weight: bolder;
    font-size: .75rem;
    text-transform: uppercase;
    color: $main-text-color;
}
ul li a:hover,
ul li span:hover
{
    cursor: pointer;
}

