@import "../mainStyles/mainColors";
.contactContent h2
{
    color: $secondary-text-color
}
.contactContent p
{
    line-height: 2rem;
    color: $main-text-color;
}
.contactContent a
{
    color: $main-text-color;
    font-weight: bolder;
    padding-bottom: 10px;
}
.contactContent a,
.contactContent span
{
    display: block
}
.mapouter
{
    position:relative;
    text-align:right
}
.gmap_canvas 
{
    overflow:hidden;
    background:none!important
}
.mapouter,
.gmap_canvas,
.gmap_canvas iframe
{
    height: 500px
}